.App {
  color: white;
  width: 100vw;
  max-width: 844px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background: var(--header-bg);
  padding: 15px;
}

.App-logo {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.App-buttons {
  display: flex;
}

.App-menu {
  margin-left: 15px;
}

.App-ios-message {
  padding: 0 15px;
  font-weight: normal;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-ios-message-icon {
  margin: 0 6px;
}

.App-ios-message-btn {
  margin-left: 10px;
}

.App-container {
  padding: 30px 30px 0;
  overflow-y: auto;
  background: var(--background);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App-install-ico {
  color: white;
  margin-right: 4px;
}

.App-install-ico path {
  stroke: white;
}

@media all and (display-mode: standalone) {
  .App-install-btn {
    display: none;
  }
}