.PeriodSummary-container {
  display: flex;
  margin-top: 30px;
}

.PeriodSummary-week-labels {
  width: 80px;
}

.PeriodSummary-week-labels,
.PeriodSummary-week-stats {
  flex-grow: 1;
  font-size: 18px;
}

.PeriodSummary-week-labels .PeriodSummary-stat-label,
.PeriodSummary-week-stats .PeriodSummary-stat {
  background: var(--highlight);
}

.PeriodSummary-week-labels .PeriodSummary-stat-label:nth-child(even),
.PeriodSummary-week-stats .PeriodSummary-stat:nth-child(even) {
  background: var(--tertiary);
}

.PeriodSummary-stats-header {
  background: var(--highlight);
  display: block;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.PeriodSummary-stat {
  display: block;
}

.PeriodSummary-stat-label {
  text-align: right;
  display: block;
  padding: 10px 18px;
  font-weight: bold;
}

.PeriodSummary-stat-info {
  display: block;
  padding: 10px;
  text-align: center;
}
