.PeriodSummary-container {
  display: flex;
}

.PeriodSummary-week-labels {
  width: 80px;
}

.PeriodSummary-week-labels,
.PeriodSummary-week-stats {
  flex-grow: 1;
  font-size: 18px;
}

.PeriodSummary-week-labels .PeriodSummary-stat-label,
.PeriodSummary-week-stats .PeriodSummary-stat {
  background: var(--highlight);
}

.PeriodSummary-week-labels .PeriodSummary-stat-label:nth-child(even),
.PeriodSummary-week-stats .PeriodSummary-stat:nth-child(even) {
  background: var(--tertiary);
}

.PeriodSummary-stats-header {
  background: var(--highlight);
  display: block;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.PeriodSummary-stat {
  display: block;
}

.PeriodSummary-stat-label {
  text-align: right;
  display: block;
  padding: 10px 18px;
  font-weight: bold;
}

.PeriodSummary-stat-info {
  display: block;
  padding: 10px;
  text-align: center;
}

.PeriodSummary-selector-container {
  border: 1px solid var(--highlight);
  margin-top: 30px;
}

.PeriodSummary-selector {
  width: 100%;
  background-color: var(--background);
  display: block;
  padding: 12px 10px;
  height: 45px;
  border-radius: 0;
  color: white;
  border: none;
  border-right: 16px solid var(--background);
  border-left: 16px solid var(--background);
  text-align: center;
  text-align-last: center;
  font-weight: bold;
}
