.AddNewRun-title {
  margin-bottom: 30px;
}

.AddNewRun-input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0;
  gap: 15px;
}

.AddNewRun-label {
  min-width: 50px;
  text-align: right;
}

.AddNewRun-input {
  width: 100%;
}

.AddNewRun-time-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.AddNewRun-colon {
  margin: 0 5px;
}

.AddNewRun-time {
  text-align: center;
  width: 33%;
}